.container-fluid{
    padding: 0 !important;
}

#hero{
    background-color: black;
}

.h-txt{
    padding: 15% 2%;
}

.bg-light{
    background-color: transparent !important;
}

.brander{
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar{
    height: 4rem !important;
    color:black;
}

.nav-item{
    font-weight: 600;
}


.bg-light.scrolled{
    background-color: black !important;
}

/* .anime{
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeIn;
} */

.addPadding{
    padding: 10px;
}

.bi-circle-fill{
    margin: 5px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}