.container-fluid{
    padding: 0 !important;
}

#hero{
    background-image: url(../assets/image1.jpg);
    background-size: cover;
}

.h-txt{
    padding: 20% 2%;
}

.bg-light{
    background-color: transparent !important;
}