.container-fluid{
    padding: 0 !important;
    overflow: hidden;
}

/* body{
    overflow-x: hidden;
} */

#hero{
    background-color: black;
}

.h-txt{
    padding: 10% 2% 8% 2%;
}

.h1-txt{
    padding: 12% 2% 10% 2%;
    border: 1px solid black;
}
.bg-light{
    background-color: transparent !important;
}

.brander{
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar{
    height: 5rem !important;
    color:black;
    padding-top: 20px;
}

.nav-item{
    font-weight: 600;
}


.bg-light.scrolled{
    background-color: black !important;
}



/* .anime{
    visibility: visible;
    animation-duration: 1s;
    animation-name: fadeIn;
} */

.addPadding{
    padding: 5px;
}

.bi-dot, .bi-code-slash{
    margin: 5px;
    color: yellow !important;
}

#workTyps{
    color: yellow;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.shape-img{
    position: relative;
    left: 0;
    bottom: -18px;
    width:100%;
}

#about-img{
    border-radius: 10px;
    transform: scale(0.95);
    filter: grayscale(1);
    transition: all 1s;
}

#about-img:hover{
    transform: scale(1);
    filter: grayscale(0);
}

#hello, #fsd {
    font-weight: 700;
    font-size: 1.3rem;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

#intro{
    font-weight: 800;
    font-size: 3rem;
    color: yellow;
    font-family: 'Montserrat', sans-serif;
}

#aboutpara{
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 991px){
    .navbar-nav{
        background-color: rgba(39, 37, 37, 0.7) !important; 
        /* background-color: rgb(39, 37, 37) !important;  */
        text-align: center;
    }

    .nav-link{
        color: yellow!important;
        /* border: 1px solid rgba(141, 137, 137, 0.52); */
    }

    #hello, #fsd {
        font-size: 1rem;
    }
    
    #intro{
        font-size: 2.3rem;
    }


}

@media only screen and (max-width:718px){
    #heroImg{
        padding-top: 12%!important;
    }

    .brander{
        padding-left: 20px;
        font-size: 1.25rem;
        font-weight: 700;
    }

    #introduction{
        text-align: center!important;
    }

    #resumeButton, #aboutButton{
        text-align: center!important;
        margin:2px;
    }
}

@media only screen and (max-width: 347px){

    .navbar{
        height: 3rem !important;
        color:black;
        padding-top: 20px;
    }

    .brander{
        padding-left: 10px;
        font-size: 1rem;
        font-weight: 700;
    }

    
    #hello, #fsd {
        font-size: 1rem;
    }
    
    #intro{
        font-size: 1.7rem;
    }

    #resumeButton, #aboutButton{
        text-align: center!important;
        margin: 5px;
    }

}